version: '3.8'

services:
  web:
    image: nginx:latest
    volumes:
      - ./html:/usr/share/nginx/html
    ports:
      - "8089:80"
    networks:
      - homenet



networks:
  homenet:
    driver: bridge