version: '3.8'

services:
  mullvad-vpn:
    image: qmcgaw/gluetun
    container_name: mullvad-vpn
    labels:
        - "traefik.enable=true"
        - "traefik.http.routers.n8n2.rule=Host(`n8n2.int.lflab.org`)"
        - "traefik.http.routers.n8n2-webhook.entrypoints=websecure"
        - "traefik.http.routers.n8n2-webhook.rule=Host(`minchia.lflab.org`) && PathPrefix(`/webhook`)" 
        # && PathPrefix(`/webhook`)"
        - "traefik.http.routers.n8n2.entrypoints=websecure"
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    volumes:
      - gluetun_wg:/gluetun/wireguard
    environment:
      - VPN_SERVICE_PROVIDER=mullvad
      - VPN_TYPE=wireguard

      # Porte che vuoi esporre alla rete "home"
      - VPN_INPUT_PORTS=5678
      - ADD_PORTS=5678
    
    networks:
      - home

    restart: unless-stopped

  n8n2:
    image: docker.n8n.io/n8nio/n8n
    restart: always
    # ports:
    #   - "5679:5678"
    environment:
      - N8N_HOST=n8n2.int.lflab.org
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - NODE_ENV=production
      - WEBHOOK_URL=https://minchia.lflab.org/
    volumes:
      - /home/media/configs/n8n/.n8n:/home/node/.n8n
      - /home/media/configs/n8n/files:/files
    network_mode: "container:mullvad-vpn"
    # networks:
    #   - home


volumes:
  gluetun_wg:
    external: true

networks:
  home:
    external: true